<div class="m-3" id="online-Quiz">
  <div class="p-4">
    <h3 class="text-center">Quiz Name</h3>
    <div class="d-flex justify-content-around fs-5">
      <div>
        <label>Name: </label>
        <span> Candidate Name </span>
      </div>
      <div>
        <label>EmailId: </label>
        <span> Candidate EmailId </span>
      </div>
    </div>
  </div>
  <div class="mb-2">
    <h4 class="text-center pt-2">General Instructions</h4>
    <div class="pt-2 spacing">
      <strong>TextRules to follow during all online proctored exams:</strong>
      <ol class="order-list-type">
        <li>You must use a functioning webcam and microphone</li>
        <li>No cell phones or other secondary devices in the room or test area</li>
        <li>Timer will get on as soon as you proceed</li>
        <li>Accessing new tab will submit the test</li>
        <li>The testing room must be well-lit and you must be clearly visible</li>
        <li>No dual screens/monitors</li>
        <li>Do not leave the camera</li>
        <li>No use of additional applications or internet</li>
        <li>Cross Check the name and EmailId on top before starting the test</li>
      </ol>
      <h6 class="pt-2">For any queries contact HR <b>HR EMAIL ID</b></h6>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <button type="button" class="btn btn-success">Proceed For Test</button>
  </div>
</div>
