<div class="container" id="candidateTable">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef>Candidate Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="EmailId">
      <th mat-header-cell *matHeaderCellDef>Email Id</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <!-- Skills Column -->
    <ng-container matColumnDef="Technical Skills">
      <th mat-header-cell *matHeaderCellDef>Technical Skills</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngFor="let skills of element.techSkills">
          {{ skills.name }},
        </ng-container>
      </td>
    </ng-container>

    <!-- Experience Column -->
    <ng-container matColumnDef="Experience">
      <th mat-header-cell *matHeaderCellDef>Experience</th>
      <td mat-cell *matCellDef="let element">{{ element.techExperience }}</td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="Open Position">
      <th mat-header-cell *matHeaderCellDef>Open Position</th>
      <td mat-cell *matCellDef="let element">{{ element.openPosition }}</td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="Completion Date">
      <th mat-header-cell *matHeaderCellDef>Completion Date</th>
      <td mat-cell *matCellDef="let element">{{ element.completionDate }}</td>
    </ng-container>
    <!-- Position Column -->
    <ng-container matColumnDef="Result">
      <th mat-header-cell *matHeaderCellDef>Result</th>
      <td mat-cell *matCellDef="let element">{{ element.result }}</td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="TestLink">
      <th mat-header-cell *matHeaderCellDef>TestLink</th>
      <td mat-cell *matCellDef="let element">
        <button class="btn" type="button">
          <!-- (click)="generateTestLink(dataSource.data)" -->
          <a href="#"> GenerateTestLink </a>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="Edit">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let element">
        <a href="#">Edit</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
