<div class="container">
  <div class="card mt-5">
    <h2 class="text-center pt-5">Upload Questions for Bank</h2>
    <div class="card-body">
      <div
        class="col d-flex justify-content-center align-items-center flex-column upload-question"
        (drop)="dropHandler($event)"
        (dragover)="dragOverHandler($event)"
      >
        <span class="sfly-color-text02"><i class="fa fa-cloud-upload fa-5x" aria-hidden="true"> </i></span>
        <p class="sfly-color-text02 mb-1 file-text">&nbsp;&nbsp;Drag and Drop file here OR&nbsp;&nbsp;</p>
        <div class="d-flex align-items-center">
          <button class="btn btn-secondary browse-btn" type="button" (click)="fileUpload.click()">Browse</button>
          <div class="d-flex flex-column ms-2">
            <div class="name">
              {{ uploadFile?.name || '' }}
            </div>
            <p class="size" *ngIf="uploadFile">
              {{ formatBytes(uploadFile.size) }}
            </p>
          </div>
        </div>

        <input
          type="file"
          class="form-control d-none"
          id="uploadQuestion"
          #fileUpload
          (change)="onFileChange($event)"
        />
      </div>

      <div
        class="show-progress col d-flex justify-content-center align-items-center upload-question"
        *ngIf="uploadQuestionProgress > 0"
      >
        <div class="d-flex align-items-center flex-grow-1">
          <div class="d-flex">
            <i class="fa fa-file-image-o fa-3x"></i>
          </div>
          <div class="d-flex flex-column flex-grow-1 ms-2">
            <div class="name">
              {{ uploadFile?.name || '' }}
            </div>
            <p class="size" *ngIf="uploadFile">
              {{ formatBytes(uploadFile.size) }}
            </p>
            <div class="progress-container">
              <div class="progress" [style.width]="uploadQuestionProgress + '%'"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- TODO: ADD div to display progress bar with file icon  -->
      <button type="btn" class="btn btn-primary upload-btn" (click)="addQuestions()">Upload</button>
    </div>
  </div>
</div>
