.home-page {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 4% 20%;

  img {
    height: 500px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      box-shadow: none;
    }
  }
}
