.p-20 {
  padding: 0.5rem 20rem !important;
}

input.ng-invalid.ng-touched {
  border: #dc3545 1px solid;
}

::ng-deep ng-multiselect-dropdown.ng-invalid.ng-touched {
  .dropdown-btn {
    border: #dc3545 1px solid;
  }
}

::ng-deep ng-multiselect-dropdown span {
  color: gray !important;
}

.border {
  border: 1px solid gray;
}

.test-link {
  width: 92%;
  border: 1px solid gray !important;
  border-radius: 5px;
  padding: 5px;
}
