h3 {
  margin-top: 1.3em;
  margin-bottom: 0.5em;
}

.timer {
  font-size: 2rem;
}

.box-container {
  background: aliceblue;
  padding: 2rem;
  border-radius: 1rem;
}

.list-style-none {
  list-style-type: none;
}
