<div class="login-wrapper mt-5">
  <div class="card m-auto">
    <div class="card-body text-center">
      <div class="card-title mb-3">
        <img src="../../../../../assets/images/TheRisingHackatoons.jpg" style="height: 400px; width: auto" />
      </div>
      <div
        id="g_id_onload"
        data-client_id="154853065417-um5nusqh1fp1qc36dshpr5u7fgos75lj.apps.googleusercontent.com"
        data-context="signin"
        data-ux_mode="popup"
        data-login_uri="https://leet-quest-pool.netlify.app"
        data-auto_select="true"
        data-itp_support="true"
      ></div>
      <div
        class="g_id_signin"
        data-type="standard"
        data-shape="rectangular"
        data-theme="outline"
        data-text="signin_with"
        data-size="large"
        data-logo_alignment="center"
      ></div>
    </div>
  </div>
</div>
s
