<div class="online-Quiz m-4">
  <div class="row">
    <label><b>Welcome Candidate Name</b></label>
    <p class="text-center">Round 1 Quiz</p>
  </div>
  <form>
    <h3>How do you plan to pay?</h3>
    <fieldset class="payment">
      <ul class="pill-options">
        <li class="option">
          <input type="radio" name="payment" id="payment-1" /><label for="payment-1" class="option-label"
            >All Cash</label
          >
        </li>
        <li class="option">
          <input type="radio" name="payment" id="payment-2" /><label for="payment-2" class="option-label">Loan</label>
        </li>
      </ul>
    </fieldset>
  </form>
</div>
