<div *ngIf="!authService.hideHeader">
  <nav class="navbar navbar-expand-lg bg-light" *ngIf="username$ | async as username">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" aria-current="page" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" [routerLink]="['./candidate-registration']" *ngIf="isHrTeam$ | async"
              >Candidate Registration</a
            >
          </li>
          <li class="nav-item">
            <div class="row">
              <div class="col">
                <div ngbDropdown>
                  <button type="button" class="btn nav-link" id="dropdownBasic1" ngbDropdownToggle>
                    Question bank
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Download Format</button>
                    <button ngbDropdownItem [routerLink]="['/question-bank/download-questions']">
                      Download Questions
                    </button>
                    <button ngbDropdownItem [routerLink]="['/question-bank/upload-questions']">Upload Questions</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="navbar-nav">
          <a class="nav-item nav-link active">{{ username }}</a>
          <a class="btn btn-outline-primary" (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </nav>
</div>
