/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

body {
  background-color: #ebf3fa;
}
.backgroundImage {
  width: 50%;
}
<<<<<<< HEAD
=======

.body {
  font-family: 'Open Sans', sans-serif;
}
>>>>>>> 29ee740d648b5fa4a763e0ea3095ba713686ac1d
